#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
LANGUAGE 4, 2
IDD_ABOUTBOX DIALOGEX 0, 0, 131, 149
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,42,128,50,14
    CTEXT           "xxx配置工具\n\nv0.2 20130110\n\nxxx公司\n\nxxx@xxx.cn\n\n(c) Copyright 2012",IDC_STATIC,25,41,78,77
    ICON            IDR_MAINFRAME,IDC_STATIC,55,17,20,20
    GROUPBOX        "",IDC_STATIC,8,7,115,115
END

IDD_MAINDLG DIALOGEX 0, 0, 616, 385
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "xxx配置工具 v0.2"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    EDITTEXT        IDC_EDT_UDP_PORT,48,16,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "工作",IDC_RADIO_WORK,"Button",BS_AUTORADIOBUTTON,17,188,32,10
    CONTROL         "休眠",IDC_RADIO_SLEEP,"Button",BS_AUTORADIOBUTTON,55,188,32,10
    PUSHBUTTON      "打开",IDC_BTN_OPEN_UDP_PORT,91,16,50,14
    COMBOBOX        IDC_COMBO_ADAPTOR_IP,49,48,87,370,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDT_ADAPTOR_PORT,49,64,87,14,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDC_COMBO_NODE_ID,49,82,48,353,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "状态查询",IDC_BTN_CHECK_STATUS,16,114,50,14
    PUSHBUTTON      "设备重启",IDC_BTN_NODE_REBOOT,91,114,50,14
    PUSHBUTTON      "查询",IDC_BTN_READ_PARAM,16,151,50,14
    PUSHBUTTON      "设置",IDC_BTN_SEND_PARAM,91,151,50,14
    LTEXT           "?",IDC_STC_UDP_PORT_ACK,145,19,12,8
    LTEXT           "设备IP:",IDC_STATIC,21,50,26,8
    LTEXT           "端口：",IDC_STATIC,21,67,25,8
    LTEXT           "设备ID：",IDC_STATIC,21,84,32,8
    LTEXT           "!",IDC_STC_WORK_MOD_ACK,95,189,61,8
    LTEXT           "xx周期：",IDC_STATIC,20,219,41,8
    EDITTEXT        IDC_EDT_REPORT_PERIOD,59,216,36,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "秒",IDC_STATIC,98,219,9,8
    CONTROL         "",IDC_LST_DATA,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,182,19,427,103
    LTEXT           "端口：",IDC_STATIC,20,19,25,8
    LTEXT           "!",IDC_STC_CHECK_STATUS_ACK,71,117,12,8
    LTEXT           "!",IDC_STC_NODE_REBOOT_ACK,146,117,12,8
    PUSHBUTTON      "发送",IDC_BTN_SEND_REPORT_PERIOD,69,233,50,14
    LTEXT           "!",IDC_STC_SEND_PARAM_ACK,146,154,12,8
    LTEXT           "接收到xxx包总数：0",IDC_STC_TOTAL_PACKET_NUM,17,265,138,8
    LTEXT           "接收到数据包个数：0",IDC_STC_DATA_PACKET_NUM,17,278,138,8
    LTEXT           "?",IDC_STC_SEND_REPORT_PERIOD_ACK,123,236,24,8
    LTEXT           "接收到心跳包个数：0",IDC_STC_HEART_BEAT,17,291,138,8
    CONTROL         "事件模式",IDC_CHK_EVENT_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,235,48,10
    CONTROL         "",IDC_LST_RAW_PACKET,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,182,139,427,132
    CONTROL         "",IDC_LST_HEART_BEAT,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP,171,198,218,72
    EDITTEXT        IDC_EDT_SEND,164,161,173,14,ES_AUTOHSCROLL | NOT WS_VISIBLE
    PUSHBUTTON      "手动发送",IDC_BTN_SEND,163,183,50,14,NOT WS_VISIBLE
    LTEXT           "!",IDC_STC_READ_PARAM_ACK,71,154,12,8
    LTEXT           "日志：",IDC_STATIC,182,275,25,8
    LTEXT           "原始数据包：",IDC_STATIC,182,127,49,8
    LTEXT           "xxx数据：",IDC_STATIC,182,7,34,8
    GROUPBOX        "本机配置",IDC_STATIC,7,7,158,28
    GROUPBOX        "目标配置",IDC_STATIC,7,35,158,65
    GROUPBOX        "参数配置",IDC_STATIC,7,137,158,37
    GROUPBOX        "设备状态",IDC_STATIC,7,100,158,37
    GROUPBOX        "工作模式",IDC_STATIC,7,174,158,30
    GROUPBOX        "上报模式",IDC_STATIC,7,204,158,49
    GROUPBOX        "数据包",IDC_STATIC,7,253,158,70
    PUSHBUTTON      "清空",IDC_BTN_CLEAR_DATA,573,4,36,14
    PUSHBUTTON      "清空",IDC_BTN_CLEAR_RAWDATA,573,124,36,14
    PUSHBUTTON      "清空",IDC_BTN_CLEAR_LOG,573,272,36,14
	PUSHBUTTON      "关于",ID_APP_ABOUT,128,301,36,14
    CONTROL         "滚动",IDC_CHK_AUTOSCROLL_DATA,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,538,6,32,10
    CONTROL         "滚动",IDC_CHK_AUTOSCROLL_RAWDATA,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,538,126,32,10
    CONTROL         "",IDC_LST_LOG,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,182,287,427,91
    CONTROL         "滚动",IDC_CHK_AUTOSCROLL_LOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,538,274,32,10
    LTEXT           "丢弃错误数据包个数：0",IDC_STC_DROP_COUNT,17,304,109,8
    COMBOBOX        IDC_COMBO_DATA_ID,372,5,48,235,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_DATA_TYPE,483,5,48,218,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ID：",IDC_STATIC,347,7,16,8
    LTEXT           "传感器类型：",IDC_STATIC,429,7,49,8
    COMBOBOX        IDC_COMBO_RAWDATA_ID,372,125,48,235,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_RAWDATA_TYPE,483,125,48,218,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ID：",IDC_STATIC,347,127,16,8
    LTEXT           "消息类型：",IDC_STATIC,437,127,41,8
    COMBOBOX        IDC_COMBO_LOG_ID,372,273,48,235,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_LOG_TYPE,483,273,48,218,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ID：",IDC_STATIC,347,275,16,8
    LTEXT           "Log类型：",IDC_STATIC,443,275,36,8
    COMBOBOX        IDC_COMBO_DATA_IP,264,5,74,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "IP：",IDC_STATIC,243,7,16,8
    COMBOBOX        IDC_COMBO_RAWDATA_IP,264,125,74,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "IP：",IDC_STATIC,243,127,16,8
    COMBOBOX        IDC_COMBO_LOG_IP,264,273,74,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "IP：",IDC_STATIC,243,275,16,8
    PUSHBUTTON      "清除",IDC_BTN_CLEAR_TARGET_ID,100,81,36,14
    LTEXT           "已发送5000秒,波特率100k",IDC_STC_STRESS_RET,19,353,95,8
    GROUPBOX        "",IDC_STATIC,7,323,158,55
    CONTROL         "压力测试",IDC_CHK_STRESS_TEST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,323,48,10
    EDITTEXT        IDC_EDT_STRESS_TIME,126,334,37,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "时间(s)",IDC_STATIC,96,337,26,8
    LTEXT           "波特率(k)",IDC_STATIC,19,337,34,8
    EDITTEXT        IDC_EDT_REPEAT_BAUD,57,334,32,14,ES_AUTOHSCROLL
    PUSHBUTTON      "终止",IDC_BTN_STOP_STRESS_TEST,125,350,36,14,WS_DISABLED
END

IDD_PARAM_DLG DIALOGEX 0, 0, 216, 226
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_LST_PERIMETER_TYPE,76,14,54,183,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDT_ENERGYTYPE_SOIL,76,33,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_ENERGYTYPE_HANG,76,51,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_CHANNEL_SOIL,76,69,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_CHANNEL_HANG,76,87,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_LEFTLENGTH_SOIL,76,105,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_RIGHTLENGTH_SOIL,76,123,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_LEFTLENGTH_HANG,76,141,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_RIGHTLENGTH_HANG,76,159,54,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_KURTOSIS1,159,19,40,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_KURTOSIS2,159,37,40,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_KURTOSIS3,159,56,40,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_KURTOSIS4,159,77,40,14,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDT_ENERGY1,159,115,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_ENERGY2,159,134,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_ENERGY3,159,153,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_ENERGY4,159,174,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_DISTANCE_FREQUENCY,76,177,54,14,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "确定",IDC_BTN_OK,82,193,50,14
    PUSHBUTTON      "取消",IDC_BTN_CANCEL,142,193,50,14
    LTEXT           "xx类型",IDC_STATIC,35,16,33,8
    LTEXT           "xxx",IDC_STATIC,21,36,52,8
    LTEXT           "xxx",IDC_STATIC,15,54,58,8
    LTEXT           "xxx",IDC_STATIC,32,72,41,8
    LTEXT           "xxx",IDC_STATIC,26,90,47,8
    LTEXT           "xxx",IDC_STATIC,25,108,48,8
    LTEXT           "xxx",IDC_STATIC,21,126,52,8
    LTEXT           "xxx",IDC_STATIC,19,144,54,8
    LTEXT           "xxx",IDC_STATIC,15,162,58,8
    LTEXT           "1",IDC_STATIC,146,22,8,8
    LTEXT           "2",IDC_STATIC,146,40,8,8
    LTEXT           "3",IDC_STATIC,146,59,8,8
    LTEXT           "4",IDC_STATIC,146,80,8,8
    LTEXT           "1",IDC_STATIC,146,118,8,8
    LTEXT           "2",IDC_STATIC,146,137,8,8
    LTEXT           "3",IDC_STATIC,146,155,8,8
    LTEXT           "4",IDC_STATIC,146,177,8,8
    GROUPBOX        "xxx",IDC_STATIC,138,8,71,88
    GROUPBOX        "Energy",IDC_STATIC,138,104,71,88
    LTEXT           "xxx",IDC_STATIC,7,180,66,8
    PUSHBUTTON      "读取配置",IDC_BTN_READ_INI,22,193,50,14
END

IDD_FRAME_SEARCH_DLG DIALOGEX 0, 0, 203, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "原始数据过滤"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO_ID_FILTER,38,25,48,217,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_TYPE_FILTER,131,25,48,160,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "时间：",IDC_STATIC,15,47,25,8
    COMBOBOX        IDC_COMBO_TIME_FILTER,37,45,48,186,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDT_TIME_START,95,44,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_TIME_END,143,44,40,14,ES_AUTOHSCROLL
    LTEXT           "ID：",IDC_STATIC,18,27,16,8
    LTEXT           "类型：",IDC_STATIC,102,27,25,8
    PUSHBUTTON      "应用",IDC_BTN_APPLY,20,64,50,14
    PUSHBUTTON      "确定",IDC_BTN_OK,74,64,50,14
    PUSHBUTTON      "取消",IDC_BTN_CANCEL,132,64,50,14
    LTEXT           "xxx适配器IP：",IDC_STATIC,17,9,54,8
    COMBOBOX        IDC_COMBO_IP,85,7,72,237,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_QJDATA_SEARCH_DLG DIALOGEX 0, 0, 388, 207
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "xxx数据过滤"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO_ID_FILTER,38,25,48,217,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_TYPE_FILTER,131,25,48,160,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "时间：",IDC_STATIC,15,47,25,8
    COMBOBOX        IDC_COMBO_TIME_FILTER,37,45,48,186,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDT_TIME_START,95,44,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_TIME_END,143,44,40,14,ES_AUTOHSCROLL
    LTEXT           "ID：",IDC_STATIC,18,27,16,8
    LTEXT           "类型：",IDC_STATIC,102,27,25,8
    PUSHBUTTON      "应用",IDC_BTN_APPLY,20,64,50,14
    PUSHBUTTON      "确定",IDC_BTN_OK,74,64,50,14
    PUSHBUTTON      "取消",IDC_BTN_CANCEL,132,64,50,14
    LTEXT           "xxx适配器IP：",IDC_STATIC,17,9,54,8
    COMBOBOX        IDC_COMBO_IP,85,7,72,237,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_LST_QJ_FILTER,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,199,2,186,202
    COMBOBOX        IDC_COMBO_NODE_ID,60,90,48,222,CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | NOT WS_VISIBLE | WS_TABSTOP
END

IDD_LOG_SEARCH_DLG DIALOGEX 0, 0, 203, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "log记录过滤"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO_ID_FILTER,38,25,48,217,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_TYPE_FILTER,131,25,48,160,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "时间：",IDC_STATIC,15,47,25,8
    COMBOBOX        IDC_COMBO_TIME_FILTER,37,45,48,186,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDT_TIME_START,95,44,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDT_TIME_END,143,44,40,14,ES_AUTOHSCROLL
    LTEXT           "ID：",IDC_STATIC,18,27,16,8
    LTEXT           "类型：",IDC_STATIC,102,27,25,8
    PUSHBUTTON      "应用",IDC_BTN_APPLY,20,64,50,14
    PUSHBUTTON      "确定",IDC_BTN_OK,74,64,50,14
    PUSHBUTTON      "取消",IDC_BTN_CANCEL,132,64,50,14
    LTEXT           "xxx适配器IP：",IDC_STATIC,17,9,54,8
    COMBOBOX        IDC_COMBO_IP,85,7,72,237,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END




LANGUAGE 4, 2
1                  RT_MANIFEST    ".\\manifest.xml"